<div style="text-align: center;">  
  <h1>Users Upload</h1>
  <input type="file" (change)="onFileChange($event)" accept=".csv" />
  
     <button
        mat-flat-button
        color="primary"          
        (click)="uploadCSV()">
        Upload
      </button>      
   
      <br/><br/>

      <table style="position: relative; left: 40%" class="example-card mat-table" >
        
        <tr class="mat-header-row">
          <th colspan="4" class="mat-header-cell">Users List<br/><br/></th>        
        </tr>
        <tr class="mat-row" *ngFor="let user of users | async">
          <td class="mat-cell">{{ user.id }}</td>
          <td class="mat-cell">{{ user.name }}</td>
          <td class="mat-cell">{{ user.address }}</td>
          <td class="mat-cell">{{ user.email }}</td>
        </tr>
      </table>

</div>
